
.stranica{
    display:  flex;
    flex-direction: column;
    /*outline-style: solid;
    outline-width: 1px;
    outline-color: black;*/
    align-self: center;
}
.gornjiBar{
    /*outline-style: solid;
    outline-width: 1px;
    outline-color: blue;*/
    align-self: center;
    width : 100%;
}

.sredina{
    display: flex;
    flex-direction: row;
    
    align-self: left;
}
.sadrzaj{
    display: flex;
    flex-direction: row;
    outline-style: solid;
    outline-width: 1px;
    outline-color: red;
}
.btnKontrola{
    align-self: flex-end;
}
.red{
    justify-content:right;
    display: flex;
    flex-direction: row;
}
.navigacija{
    display: flex;
    width: 15%;
    flex-direction: column;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgb(201, 148, 2);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 7px;
}
.selektovanRed{
    background-color: lightblue;
    color:brown;
}