
.stranica{
    display:  flex;
    flex-direction: column;
    align-self: center;
    font-size: 0.9w;
}
.gornjiBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width : 100%;
}

.sredina{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: left;
}
table{
    size: auto;
}
.sadrzaj{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.btnKontrola{
    align-self: flex-end;
}
.red{
    justify-content:right;
    display: flex;
    flex-direction: row;
}
.navigacija{
    display: flex;
    width: 15%;
    flex-direction: column;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 7px;
}
.selektovanRed{
    background-color: rgb(30, 80, 97);
    color:rgb(255, 255, 255);
}